@mixin purpleblock ($bgr){
    display: block;
    width: 200px;
    height: 200px;
    border: 1px dashed purple;
    background:$bgr
}
@mixin circle ($bgr){
    display: block;
        width: 100px;
        height: 100px;
        border-radius:200px;
        margin:50px;
        background:$bgr
}

.block {
    $self: &;
    @include purpleblock (purple);
    &__element {
        @include circle (white);
    }
    &--reversed {
        @include purpleblock (white);
        
        #{ $self }__element {
            @include circle (purple);
        }
    }
}  