

.block {
    $self: &;
    display: block;
    width: 200px;
    height: 200px;
    background: purple;
    border: 1px dashed purple;
    
    &__element {
        display: block;
        width: 100px;
        height: 100px;
        background: white;
        border-radius:200px;
        margin:50px;
    }
    &--reversed {
        background: white;
        border-color: lightgray;
        
        #{ $self }__element {
            background: purple;
        }
    }
}  